@import './common/breakpoint';

$side-button-width: 55px;

.card.timer-card {
  width: 100%;
  margin: 0;
  border-top: 1px solid #eee;

  @media (min-width: #{$medium-screen}) {
    width: calc(100% - #{$side-button-width});
    border-top: none;
    border-left: 1px solid #eee;
  }
}

section.timer-card-wrapper {
  margin: 0 0.75rem;
  background: white;
}

.side-button-wrapper {
  width: 100%;
  text-align: center;

  @media (min-width: #{$medium-screen}) {
    width: $side-button-width;
    float: left !important;
  }
}

.side-button {
  @media (min-width: #{$medium-screen}) {
    width: $side-button-width;
  }
}

.side-button.drag-handle {
  display: none;

  @media (min-width: #{$large-screen}) {
    display: inline-block;
  }
}

blockquote.card-description {
  border-color: #29b6f6;
}
