body {
  font-family: 'Lato', sans-serif;
}

.nav-wrapper {
  padding: 0 .75rem .5rem;
  margin-top: .75rem;
}

nav.top-nav .brand-logo {
  font-weight: 300;
  font-size: 1.6rem;
}

.sidenav-logo {
  line-height: 64px;
  text-align: center;
  font-size: 2.4rem;
}

@media (min-width: 992px) {
  main {
    padding-left: 300px;
  }
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App main {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
}

.App main > .row {
  flex: 1 0 0;
  width: 100%;
}

.App main > footer {
  flex: 0 1 0;
}

footer .footer-content {
  padding: 0 1rem;
}

footer.page-footer .footer-copyright {
  justify-content: center;
}
