body {
  font-family: 'Lato', sans-serif;
}

.nav-wrapper {
  padding: 0 .75rem .5rem;
  margin-top: .75rem;
}

nav.top-nav .brand-logo {
  font-weight: 300;
  font-size: 1.6rem;
}

.sidenav-logo {
  line-height: 64px;
  text-align: center;
  font-size: 2.4rem;
}

@media (min-width: 992px) {
  main {
    padding-left: 300px;
  }
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App main {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
}

.App main > .row {
  flex: 1 0 0;
  width: 100%;
}

.App main > footer {
  flex: 0 1 0;
}

footer .footer-content {
  padding: 0 1rem;
}

footer.page-footer .footer-copyright {
  justify-content: center;
}

.usage-guide .btn.z-depth-0 {
  padding: 0 1rem;
  margin: 0 .25rem;
}

[draggable="true"] {
  cursor: move !important;
}

.datepicker-container .datepicker-table td.has-event {
  color: #03a9f4;
}

.datepicker-container .datepicker-table td.has-event button {
  font-weight: 700;
}

.datepicker-container .datepicker-table td.is-today {
  background-color: #eee;
}

.datepicker-container .datepicker-table td.is-selected {
  background-color: #03a9f4;
  color: #fff;
}

.datepicker-container .datepicker-date-display {
  background: #03a9f4;
}

.datepicker-container .datepicker-cancel,
.datepicker-container .datepicker-clear,
.datepicker-container .datepicker-today,
.datepicker-container .datepicker-done {
  color: #03a9f4;
}

.datepicker-container .month-prev:focus,
.datepicker-container .month-next:focus {
  background-color: #03a9f4;
  color: #fff;
}

[id*="modal-timer"] .dropdown-content > li > a:focus{
  background: #03a9f4;
  color: #fff !important;
}
